<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IBlockChainService"/>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8732/" binding="netTcpBinding"
			bindingConfiguration="NetTcpBinding_IBlockChainService" contract="WCF_ServiceBlockchain.IBlockchainService"
			name="NetTcpBinding_IBlockChainService">
				<identity>
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>